@font-face {
    font-family: "Medio";
    src:url("../font/medio.otf") format("opentype");
}

@font-face {
    font-family: "Trajan";
    src:url("../font/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Ryumin";
    src:url("../font/A-OTF-RyuminPr5-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Matisse";
    src:url("../font/FOT-MatisseElegantoPro-M.otf") format("opentype");
}

@font-face {
    font-family: "Futura";
    src: url('../font/futura_medium_bt.ttf') format('truetype');
}

@media screen and (min-width: 501px) {
    #registration_sp {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    #registration_pc {
        display: none;
    }
    
}



#registration_pc {
    overflow-x: hidden;
}

#registration_sp {
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgba(255, 255, 255, 0.85);
    letter-spacing: 0px;
    color: #000;
    display: flex;
    padding: 1vw 10vw 1vw 3vw;
    justify-content: space-between;
    position: fixed;
    width: 95vw;
    z-index: 1000;
}
.header_logo {
    width:15vw;
}
.header_a {
    font: normal normal normal 1vw/2vw メイリオ;
    color: #000000;
    position: fixed;
    top:1.5vw;
    transition: 0.2s;
}
.header_1 {
    left:33.5vw;
}
.header_2 {
    left:40vw;
}
.header_3 {
    left:49vw;
}
.header_4 {
    left:59vw;
}
.header_5 {
    left:68vw;
}
.header_6 {
    left:78vw;
}
.header_7 {
    left:88vw;
}
.header_8 {
    top: 23vw;
    left: 7vw;
    font-weight: bold;
}
.header_9 {
    top: 26vw;
    left: 7vw;
    font-weight: bold;
}
.header_10 {
    top: 10vw;
    left: 20.5vw;
}
.header_11 {
    top: 12vw;
    left: 20.5vw;
}
.header_12 {
    top: 14vw;
    left: 20.5vw;
}
.header_13 {
    top: 16vw;
    left: 20.5vw;
}
.header_14 {
    top: 18vw;
    left: 20.5vw;
}
.header_15 {
    top: 20vw;
    left: 20.5vw;
}
.header_16 {
    top: 22vw;
    left: 20.5vw;
}
.header_17 {
    top: 24vw;
    left: 20.5vw;
}

.header_1_after {
    top: 8vw;
    left: 7vw;
    font-weight: bold;
}
.header_2_after {
    top: 11vw;
    left: 7vw;
    font-weight: bold;
}
.header_3_after {
    top: 14vw;
    left: 7vw;
    font-weight: bold;
}
.header_4_after {
    top: 8vw;
    left: 20vw;
    font-weight: bold;
}
.header_5_after {
    top: 26.5vw;
    left: 20vw;
    font-weight: bold;
}
.header_6_after {
    top: 17vw;
    left: 7vw;
    font-weight: bold;
}
.header_7_after {
    top: 20vw;
    left: 7vw;
    font-weight: bold;
}

.header_margin {
    margin-top:5vw;
}

.main_img {
    width:100%;
}

.right_menu {
    font: normal normal normal 1vw/1.2vw メイリオ;
    letter-spacing: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1vw;
    width: 7vw;
    position: fixed;
    top: 8vw;
    right: 2vw;
    text-align: center;
    height: 6vw;
    transition: 0.2s;
}
.right_menu_text {
    margin-bottom: 1vw;
    color: #000000;
}
#right_menu_close {
    padding: 2vw 0 0;
    width:100%;
    display: block;
    transition: 0.2s;
}
#right_menu_open {
    padding: 1vw 0 0;
    width:100%;
    display: block;
    transition: 0.2s;
    opacity: 0;
}
#right_menu_close:hover, #right_menu_open:hover {
    text-decoration: none;
}
.yazi {
    width:1vw;
}
.right_menu_img {
    width: 4vw;
    margin-bottom: 0.5vw;
}


/*以下ハンバーガーメニューについて*/

.menu-btn {
    position: absolute;
    top: 0vw;
    right: 0vw;
    display: flex;
    position: fixed;
    height: 5.3vw;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background: none;
    border: none;
    width: 5vw;
    background-color: rgba(255, 255, 255, 0.85);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 0.2vw;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
}
.menu-btn span {
    width: 2vw;
}
.menu-btn span:before {
    bottom: 0.6vw;
    width: 2vw;
}
.menu-btn span:after {
    top: 0.6vw;
    width: 2vw;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    width: 2vw;
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}


.menu-content, .menu-content_work{
    top: 5.3vw;
    width: 100%;
    position: fixed;
    height: 28vw;
    z-index: 80;
    background-color: rgba(255, 255, 255, 0.85);
    transition: all 0.2s;/*アニメーション設定*/
    display: none;
    opacity: 0;
}

.menu_appear {
    opacity: 1;
    display: block;
}

.menu-content ul, .menu-content_work ul {
    padding: 50px 20px;
    margin: 0 20px;
    height: 400px;
    direction: rtl;
}
.menu-content ul li, .menu-content_work ul li {
    list-style: none;
}


.menu_head_sp, .menu_content_sp {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    position: relative;
    font: normal normal 600 16px/20px sans-serif;
}
.menu_content {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    position: relative;
    font: normal normal normal 20px/30px Open Sans;
}





.menu_head_sp {
    padding: 20px 15px 3px 3px;
}

.menu_content_sp, .menu_content {
    padding: 10px 5px;
}

.header_icon_list {
    width: 220px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
}

.header_icon_sp {
    width: 30px;
    margin-top: 60px;
}

#menu_brand_sp, #menu_company_sp, #menu_link_sp {
    display: none;
}

.menu_content_sp:hover {
    color: #fff;
    text-decoration: none;
}
.menu_content:hover {
    color: #fff;
    text-decoration: none;
}

.up, .down {
    float: right;
    margin-top: 5px;
}

.up {
    display: none;
}

.down {
    display: block;
}

.menu_a_sp {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 10px 20px;
}


#menu-btn-check:checked ~ .menu-content {
    left: 0px;/*メニューを画面内へ*/
}
#menu-btn-check:checked ~ .menu-content_work {

}


/* floating box関連 */
.floating_box {
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}

/* top関連 */

/* 共通項目 */

section.common {
    margin-bottom: 10vw;
}

h2.pinkBorder {
    display: inline-block;
    border-bottom: 4px solid #FF94BB;
    padding: 1vw 1vw 1vw 4vw;
}

.sec_title {
    padding-right: 1vw;
    width: 20vw;
    text-align: right;
    font: normal normal bold 2vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    border-bottom: 3px solid #FF94BB;
    margin-bottom: 4vw;
}

.page_title {
    padding-right: 1vw;
    width: 20vw;
    text-align: right;
    font: normal normal normal 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    border-bottom: 3px solid #FF94BB;
    margin-bottom: 2vw;
    padding-top: 4vw;
}

p.footer {
    font-size: 1vw;
    text-align: center;
    margin-top: 5vw;
}

/* sec1 */
.top_section_1 {
    z-index: 100;
    position: relative;
    margin-bottom: 0;
}

.top_section_1 .floating_box_left {
    width: 50%;
}

.top_section_1 .floating_box_left .img_wrapper {
    overflow: hidden;
}

.top_section_1 .floating_box_left img {
    width: 100%;
}

.top_section_1 .floating_box_right {
    width: 47%;
    padding: 3vw 0vw;
}

.top_section_1 .floating_box_right h2 {
    color: #FF4D8E;
    font-size: 1.8vw;
    margin-bottom: 4vw;
}

.top_section_1 .floating_box_right {
    font-size: 3vw;
}

.top_section_1 .floating_box_right p {
    color: #707070;
    font: normal normal normal 1.2vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    word-wrap: break-word;
}

.text_end {
    width: 80vw;
    background-color: #FFF2F7;
    padding: 2vw 0 6vw 33.5vw ;
    margin: 0;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    top: -22vw;
    z-index: 10;
    font: normal normal bold 1.6vw/3.2vw Kozuka Gothic Pr6N;
    letter-spacing: 1px;
}

/* sec2 */

section.top_section_2 {
    top: 1vw;
}

.top_section_2 .img_wrapper {
    overflow: hidden;
    padding: 2vw;
}

.top_section_2 img {
    width: 100%;
}

.top_section_2 .list_wrapper {
    padding: 2vw;
}

.sec2_list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.sec2_list li {
    width: 18vw;
}

.sec2_list li:last-child {
    margin-right: 0vw;
}

.sec2_list h3 {
    text-align: center;
    margin-top: 1vw;
    font: normal normal normal 1.8vw/2.4vw Kozuka Gothic Pr6N;
}

.pink_btn {
    border: 2px solid #FF4D8E;
    border-radius: 2vw;
    width:15vw;
    padding:0.8vw;
    text-align: center;
    text-decoration: underline;
    font: normal normal bold 1.5vw/1.8vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
    display: block;
    margin-right: 5vw;
    margin-left: auto;
}
.top_section_2 .pink_yazi, .pink_yazi {
    width: 0.5vw;
    float: right;
    margin-top: -2vw;
    margin-right: 6vw;
}

/* sec3 */
.top_section_3 {
    padding-left: 4vw;
}

.sec3_bg {
    background-image: url(../img/sec3_bg.png);
    padding-top:1.5vw;
    padding-left:4vw;
    width:70vw;
    background-position: center;
    background-size: cover;
    height: 28vw;
    font: normal normal normal 1.3vw/3.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.08vw;
    color: #FFFFFF;
}
.sec3_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    margin-top: -20vw;
}
.sec3_text {
    width: 33vw;
    padding-top: 23vw;
    font: normal normal normal 1.3vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.08vw;
    color: #707070;
}
.sec3_dummy {
    width: 55vw;
    height:40vw;
}
.sec3_bg_box {
    width: 45vw;
    text-align: right;
    font: normal normal normal 1.8vw/5vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
    padding-right:10vw;
    border-bottom: solid 1px #fff;
    margin-bottom: 3vw;
}
.sec3_span {
    font: normal normal 500 3vw/5vw Kozuka Gothic Pr6N;
}
.sec3_flex_title {
    text-align: center;
    font: normal normal bold 2.5vw/2.5vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
    margin-bottom: 2vw;
}

.miyong_title {
    text-align: center;
    font: normal normal bold 3vw/4vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
    margin:7vw 0;
}

/* sec4 */
.sec4_title {
    padding-left: 4vw;
    width: 19vw;
    font: normal normal bold 2vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    border-bottom: 3px solid #FF94BB;
    margin-bottom: 4vw;
}

.sec4_service_list {
    width:100%;
    padding:0 3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}
.sec4_service_list img {
    display: block;
    height:6vw;
    margin: 0 auto 1vw;
}
.sec4_service {
    text-align: center;
    font: normal normal bold 1.4vw/2vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
}
.sec4_text {
    font: normal normal normal 1vw/1.3vw Kozuka Gothic Pr6N;
    color: #000000;
    padding-left:4vw;
}


/* sec5 */
.top_section_5 {
    background-image: url(../img/sec5_bg.png);
    width:100vw;
    height:30vw;
    background-position: center;
    background-size: cover;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-top: -1.5vw;
}
.sec5_phone_bg {
    background-image: url(../img/sec5_phone_bg.png);
    width:75vw;
    height:100%;
    background-position: center;
    background-size: cover;
    margin:auto;
    border-radius: 1vw;
    padding-left: 36vw;
    padding-right: 4vw;
    padding-top: 4vw;
    text-align: center;
    font: normal normal bold 1.8vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #FF4D8E;
}
.sec5_span {
    font: normal normal 500 3vw/5vw Kozuka Gothic Pr6N;
}
.sec5_icon_list {
    width:28vw;
    display: flex;
    justify-content: space-between;
    margin:2vw auto;
}
.sec5_icon {
    width:4vw;
}


/* sec6 */
.top_section_6 {
    background-image: url(../img/sec6_bg.png);
    width:100vw;
    height:50vw;
    background-position: 8vw;
    background-size: cover;
    padding-top: 10vw;
    padding-left:40vw;
    margin-top: 5vw;
    text-align: center;
    font: normal normal normal 1.4vw/4vw Kozuka Gothic Pr6N;
    letter-spacing: 0.08vw;
    color: #707070;
}
.sec6_title1 {
    font: normal normal bold 2vw/2.5vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
}
.sec6_title2 {
    font: normal normal bold 1.4vw/2.5vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
    margin-bottom: 3vw;
}
.sec6_span {
    font: normal normal bold 1.8vw/4vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
}

/* sec7 */
.top_section_7 {
    margin-top: 8vw;
}

.sec7_hotel_list {
    width:100%;
    padding:0 3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}
.sec7_hotel {
    width:22vw;
    display: block;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 1.6vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
}
.sec7_hotel img {
    width:100%;
    display: block;
}

/* sec8 */
.sec8_news_list {
    width:45vw;
    display: block;
    margin: 3vw auto;
}
.sec8_news {
    width:100%;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 1.3vw/1.3vw Kozuka Gothic Pr6N;
    color: #000000;
    padding:0.5vw;
    border-bottom: #FF94BB 1px solid;
}
.sec8_news_date {
    width:8vw;
}
.sec8_news_genre {
    width:7vw;
    text-align: center;
}
.sec8_news_title {
    width:27vw;
}

/* sec9 */
.top_section_9 {
    width: 100vw;
    height:50vw;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FF94BB 100%) 0% 0% no-repeat padding-box;
}
.contact_div {
    width: 50vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 1.3vw/1.6vw Hiragino Kaku Gothic Pro;
}
.contact_name {
    width: 15vw;
}
.contact_text, .contact_textarea {
    padding:0.7vw 1.2vw;
    width:33vw;
    border: none;
    border-radius: 5px;
}
.contact_text::placeholder {
    color: #CCCCCC;
}
.contact_textarea {
    height: 20vw;
}
.send_btn {
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 5px;
    display: block;
    width: 7vw;
    text-align: center;
    padding: 0.8vw 0;
    color: #fff;
    margin-left: 55vw;
    font: normal normal normal 1.3vw/1.6vw Arial;
}

p.contact {
    margin: 2vw 0 0 0;
    text-align: center;
    color: #fff;
}

/* why関連 */

section.why_section1 {
    margin: 0;
    background-image: url(../img/why_sec1_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -15vw center;
}

.why_section1 p {
    padding: 5vw 50vw 5vw 3vw;
    color: #707070;
    font: normal normal normal 1.2vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    line-height: 5vw;
    word-wrap: break-word;
}

.why_section1 b {
    color: #FF4D8E;
    font-size: 1.8vw;
}


/* サービスの流れ */
.service_flow_flex {
    width:100%;
    padding:4vw;
    display: flex;
    justify-content: space-between;
}
.service_flow_item {
    width:30vw;
    padding:1.5vw;
    display: flex;
    justify-content: space-between;
    border: 3px solid #FF4D8E;
    border-radius: 1vw;
}
.service_flow_img {
    display: block;
    height:6vw;
}
.service_flow_text {
    width: 18vw;
    text-align: center;
    font: normal normal bold 1.2vw/2vw Kozuka Gothic Pr6N;
    color: #FF4D8E;
    padding-top: 1vw;
}
.service_flow_main {
    width:100vw;
    padding:10vw;
    display: flex;
    justify-content: space-between;
}
.service_flow_graph {
    width:1vw;
    display: block;
}
.service_flow_content {
    text-align: center;
    width:78vw;
}
.service_flow_title {
    font: normal normal bold 1.6vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #FF4D8E;
    margin-bottom: 2.5vw;
}
.service_flow_sns {
    width: 25vw;
}
.service_flow_ex1 {
    font: normal normal bold 1.5vw/2vw Hiragino Kaku Gothic Pro;
    color: #000000;
    margin-top: 4vw;
    margin-bottom: 1vw;
}
.service_flow_ex2 {
    font: normal normal normal 1.3vw/2vw メイリオ;
    letter-spacing: 0px;
    color: #000000;
}
.service_flow_content_img {
    width: 50vw;
}
.service_humans {
    background-image: url(../img/service_humans.png);
    width:100vw;
    height: 57vw;
    background-position: center;
    background-size: cover;
    padding-top: 20vw;
    padding-bottom: 0vw;
    margin-top: -23vw;
    z-index: 1000;
    position: relative;
    text-align: center;
    font: normal normal normal 1.3vw/2vw メイリオ;
    color: #000000;
}
.plan_btn {
    width: 12vw;
    display: block;
    margin: 0 auto 1.5vw;
}


/* cooperation関連 */

.coop_section1 h2 {
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.coop_section1 img {
    width: 100%;
}

.coop_section1 .img_btn {
    width: 100%;
    text-align: center;
    padding: 3vw 0;
}

.coop_section1 .img_btn img {
    width: 30%;
}

div.coop_text  {
    padding: 0 2vw;
}

div.coop_text h3 {
    margin-bottom: 1vw;
}

.coop_common {
    margin-bottom: 0;
}



/* 提携ホテル関連 */

.hotel_main_text {
    text-align: center;
    font: normal normal normal 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-top: 4vw;
    margin-bottom: 8vw;
}
.hotel_div {
    padding:0 4vw;
}
.hotel_name {
    font: normal normal bold 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-bottom: 1vw;
}
.hotel_text {
    font: normal normal normal 1.3vw/1.8vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-bottom: 2vw;
}
.hotel_a {
    color: #000;
    text-decoration: underline;
}
.hotel_main_img {
    width:100%;
    display: block;
    margin-bottom: 2vw;
}
.hotel_img_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vw;
}
.hotel_sub_img {
    width:30vw;
    display: block;
}

/* wrapper_dotbg共通 */

.wrapper_dotbg {
    background-image: url(../img/dotbg.png);
    background-position: center;
    background-size: cover;
}

.wrapper_dotbg_inner {
    padding: 5vw 30vw;
}

/* company関連 */

.wrapper_dotbg_inner h3 {
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 3vw;
    border-bottom: 2px solid #FF94BB;
    margin-bottom: 1vw;
}

.wrapper_dotbg_inner input {
    border: #707070 solid 2px;
    border-radius: 5px;
}

.wrapper_dotbg_inner textarea {
    border: #707070 solid 2px;
    border-radius: 5px;
}

.wrapper_dotbg_inner .contact_name {
    padding-top: 1vw;
}

.wrapper_dotbg_inner  a.send_btn {
    margin-left: 30vw;
}